.input {
  width: 100%;
  margin: 6px;
  padding: 15px 32px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
}

.button {
  background-color: #61dafb;
  border: none;
  color: black;
  margin: 6px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.button:hover {
  background-color: white;
  color: black;
}
