.list {
  padding: 1rem;
  align-items: center;
  transition: all 0.15s;
}
.row {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 1rem;
  display: flex;
  cursor: pointer;
}
.row:hover {
  background-color: #20232a;
}
.row + .row {
  border-top: 1px solid #20232a;
}
.column {
  // color: white;
  color: #61dafb;
  padding-right: 2rem;
}
