.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-logo {
  height: 5vmin;
}

.App-header {
  align-items: left;
  justify-content: left;
}

.App-link {
  color: #09d3ac;
}

.App-body {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-footer {
  align-items: left;
  justify-content: left;
}
