.list {
  align-items: center;
  transition: all 0.15s;
}
.row {
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  cursor: pointer;
}
.row:hover {
  background-color: #61dafb;
}
.row + .row {
  border-top: 1px solid #61dafb;
}
.column {
  padding-right: 2rem;
}
