@import "foundation-sites/dist/foundation.css";

.scroll {
  border: 1px solid green;
  width: 100%;
  position: fixed;
  top: 80px;
  bottom: 60px;
  overflow:auto;
}

.box {
  border: 1px solid red;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 20px;
}
